Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Infinite_Skies/Characters/MC_SpringMeshes_v3/MC_AnimBluePrint_v3_2.uasset
Content/Infinite_Skies/Characters/MC_SpringMeshes_v3/MC_SpringMeshes_v3_PhysicsAsset.uasset
Content/StarterContent/Architecture/Floor_400x400.uasset
Content/StarterContent/HDRI/HDRI_Epic_Courtyard_Daylight.uasset
Content/StarterContent/Materials/M_Ground_Grass.uasset
Content/StarterContent/Materials/M_Ground_Moss.uasset
Infinite_Skies.uproject
Infinite_Skies.uproject
Infinite_Skies.uproject
