Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Infinite_Skies/Characters/MC_SpringMeshes_v3/MC_AnimBluePrint_v3_2.uasset
Content/Infinite_Skies/Characters/MC_SpringMeshes_v3/MC_SpringMeshes_v3_PhysicsAsset.uasset
